body{
margin:0px;
padding:0px;
background-image:url(12589.jpg);
background-size:cover;
}
header{
	position: fixed;
	width: 100%;
	height: auto;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    margin-top:-65px;
}
.logo{
	margin:5px;
	margin-left:5px;
	margin-top: 10px;
}
.logo img{
	width:5%;
	   }
nav ul{
	display:flex;
	list-style-type: none;
	margin-right: 10px;
}
nav ul li{
	margin-right: 30px;
}
	
nav ul li a{
	text-decoration: none;
	font-size: 20px;
    color: white;
}

nav ul li a:hover{
	color: black;
	border-bottom: 3px solid black;
}
.contenu{
display: grid;
grid-template-columns: repeat(2 , 1fr);
grid-template-rows: repeat(1 , 1fr); 
margin-top: 60px;	
}
.contenu .gauche{
margin-left: 30px;	
}
.contenu .gauche h1{
color: white;
font-size: 100px;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
}
.contenu .gauche h3{
color: white;
font-size: 60px;
margin: 0px;
}
.contenu .gauche p{
font-size: 30px;
color: white;
margin:0px;
word-spacing: 10px; 
line-height: 50px;
}
.contenu .gauche p span{
color: red;
font-size: 35px;
font-style: italic;
}
.contenu .gauche p::first-letter{
color: red;
font-size: 50px;
}
.contenu .gauche button{
background-color: blue;
width: 100%;
margin-top: 40px;
border: 5px double red;
padding: 10px;
}
.contenu .gauche button a{
font-size: 20px;
text-decoration: none;
color: white;
}
.contenu .droite img{
margin-left: 5%;
width: 100%;
margin-top: 5%;
}
.contenu .droite .img2{
filter: drop-shadow(1px 1px 10px blue);
}
/*la partie tablette*/
@media screen and (max-width: 900px){

header{
	position: fixed;
	width: 100%;
	height: auto;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    margin-top:-65px;
}
.logo{
	margin:5px;
	margin-left:5px;
	margin-top: 10px;
}
.logo img{
	width:5%;
	   }
nav ul{
	display:flex;
	list-style-type: none;
	margin-right: 10px;
}
nav ul li{
	margin-right: 30px;
}
	
nav ul li a{
	text-decoration: none;
	font-size: 10px;
    color: white;
}

nav ul li a:hover{
	color: black;
	border-bottom: 3px solid black;
}	
.contenu .droite img{
margin-left: 5%;
width: 100%;
margin-top: 5%;
}
.contenu .gauche h1{
color: white;
font-size: 40px;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
}
.contenu .gauche h3{
color: white;
font-size: 20px;
margin: 0px;
}
.contenu .gauche p{
font-size: 20px;
color: white;
margin:0px;
word-spacing: 10px; 
line-height: 30px;

}
.contenu .gauche p span{
color: red;
font-size: 20px;
font-style: italic;
}
.contenu .gauche p::first-letter{
color: red;
font-size: 20px;
}
.contenu .gauche button{
background-color: blue;
width: 50%;
margin-top: 40px;
border: 5px double red;
padding: 10px;
}
.contenu .gauche button a{
font-size: 15px;
text-decoration: none;
color: white;
}
 }
/*la partie mobile*/
@media screen and (max-width: 400px){
header{
	position: fixed;
	width: 100%;
	height: auto;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    margin-top:-65px;
}
.logo{
	margin:5px;
	margin-left:5px;
	margin-top: 10px;
}
.logo img{
	width:5%;
	   }
nav ul{
	display:flex;
	list-style-type: none;
	margin-right: 10px;
}
nav ul li{
	margin-right: 30px;
}
	
nav ul li a{
	text-decoration: none;
	font-size: 5px;
    color: white;
}

nav ul li a:hover{
	color: black;
	border-bottom: 3px solid black;
}	
.contenu .droite{
	display: none;

}
.contenu .gauche h1{
color: white;
font-size: 10px;
font-style: italic;
font-family: 'Times New Roman', Times, serif;
}
.contenu .gauche h3{
color: white;
font-size: 10px;
margin: 0px;
}
.contenu .gauche p{
font-size: 5px;
color: white;
margin:0px;
word-spacing: 10px; 
line-height: 20px;
}
.contenu .gauche p span{
color: red;
font-size: 5px;
font-style: italic;
}
.contenu .gauche p::first-letter{
color: red;
font-size:15px;
}
.contenu .gauche button{
background-color: blue;
width: 50%;
margin-top: 40px;
border: 5px double red;
padding: 10px;
}
.contenu .gauche button a{
font-size: 5px;
text-decoration: none;
color: white;
}	
}
